---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  .page-content{
    background-color: black;
    p{
      color: white;
    }
  }

  .post-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
  }


  .site-header{
    background-color: rgb(251, 190, 201);

    .site-title{
      border: 2px outset black;
      padding: 5px 10px;
      display: inline-block;
      border-radius: 4px;
      background-color: black;
      color: rgb(174, 255, 174);
    }

    .nav-item{
      border: 2px outset black;
      padding: 5px 10px;
      display: inline-block;
      border-radius: 4px;
      background-color: black;
      color: rgb(174, 255, 174);
    }
  }

  .site-footer{
    background-color: rgb(251, 190, 201);    
  }

  .footer-col-wrapper{
    color: rgb(255, 255, 255);
    padding: 2px 5px;
    display: inline-block;
    border-radius: 4px;
    background-color: black;

  }

  a.post-link{
    background-color: rgb(251, 190, 201);
    padding: 2px 5px;
    display: inline-block;
    border-radius: 4px;
    color: rgb(84, 255, 107);
  }

  .post-meta{
    color: white;
  }