---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  .page-content{
    background-color: #7A5C58;
    border: 2px outset rgb(69, 53, 46);
    padding: 2px 3px;
    display: inline-block;
    border-radius: 4px;
    p{
      color: white;
    }
  }

  .post-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
  }


  .site-header{
    background-color: rgb(251, 190, 201);

    .site-title{
      border: 2px outset rgb(146, 120, 109);
      padding: 5px 10px;
      display: inline-block;
      border-radius: 4px;
      background-color: #FFEBEA;
      color: #3A405A;
    }

    .nav-item{
      border: 2px outset rgb(146, 120, 109);
      padding: 2px 3px;
      display: inline-block;
      border-radius: 2px;
      background-color: #FFEBEA;
      color: #3A405A;
      font-size: medium;
    }
  }

  .site-footer{
    background-color: #3A405A;
  }
  .footer-col-wrapper{
    color: rgb(255, 255, 255);
    background-color: #FFEBEA;
    font-size: medium;
  }

  a.post-link{
    background-color: #FFEBEA;
    border-bottom: #3A405A;
    padding: 1px 1px;
    display: inline-block;
    border-radius: 2px;
    color: #3A405A;
  }

  a.u-email{
    color:#3A405A;
  }

  .post-meta{
    color: white;
  }