---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  .page-content{
    background-color: black;
  }

  .post-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
  }

  .p{
        color: white;
    }

  .site-header{
    background: rgb(255,234,238);
  }

  .site-footer{
    background: rgb(255,234,238);
  }

  .post-link{
    color: red;
    background-color: red;
    background: red;
  }