---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  .page-content{
    background-color: black;
  }

  .post-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
  }

  .p{
    color: white;
  }

  .site-header{
    background-color: rgb(251, 190, 201);
  }

  .site-footer{
    background-color: rgb(251, 190, 201);
    color: rgb(255, 255, 255);
  }

  .post-link{
    background-color: rgb(251, 190, 201);
    color: rgb(205, 255, 212);
  }

  .post-meta{
    color: white;
  }