---
# Only the main Sass file needs front matter (the dashes are enough)
---

post-list{
  background-color: black;
}

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
